sandbox/
helenos-0.2.0/
linux1.0/
UNIX
MyOS/

#minix
minix/test_c/
minix/books/
minix/minix1.1/
minix/docs/*.txt
minix/docs/*.html
minix/docs/*.c
minix/docs/*.xlsc

#mikeOS
mikeOS/sandbox
mikeOS/mikeos-4.6.1/_arch
mikeOS/mikeos-4.6.1/disk_images/*

